
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490603374422'); /* IE9*/
  src: url('iconfont.eot?t=1490603374422#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490603374422') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490603374422') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490603374422#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before { content: "\f000d"; }

.icon-shan:before { content: "\e642"; }

.icon-basket2:before { content: "\e64f"; }

.icon-user:before { content: "\e60f"; }

.icon-icon4:before { content: "\e637"; }

.icon-chaye-copy:before { content: "\e684"; }

.icon-sousuo-sousuo:before { content: "\e503"; }

